*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    
}.imge{
    width:50%;
    
}
input{
    padding-bottom: 10px;
    width: 446px;
    height: 36px;
    
}
.child{
  margin-top: 20px;
    margin-left: 10px;
}
.searchcontent{
    border-radius: 100%;
    width: 40px;
    height: 40px;

}
.content{
    padding-bottom: 20px;
 
}
.mine{
    background-color: aqua; 
    float: left;
    height: 40px;
    width: 100%;
    font-size: 1.2rem
}
.setting{
    border: 1px solid black;
    margin-right: 800px;
    border-radius:10px;
    float: right;
    height: 20px;
    position: relative;
    right:70px;
    display: flex;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
        
}
.float{
    height: 20px;
    padding: 0 8px;
    margin: 0 4px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
    border: 1px solid black ;
    text-transform: none;
    font-weight: 400;
}
.style{

   
}









