*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.tonghop{
    
    text-align: center;
    background-color: antiquewhite;
}
.a{
   color: red;
}
.b{
    border: 2px solid black;
}
.c{
 margin-left:100px;
  padding-left: 10%;
}