*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    ;
}
.a{
    border:5px solid;color: white;
    background-color: black;
    min-height: 100px;
}
.b{
    order: 5px solid black; 
    background-color:rgb(255, 221, 192) ;
    min-height: 100px;
}
.c{
    border: 5px solid red;
    float: left;
    width:80%;
    background-color: blue;
    min-height: 100px;
}
.D{
    border: 5px solid darkorchid;
    float: left;
    width: 20%;
    background-color: brown ;
    min-height: 100px;
}
.E{
    border: 5px solid green;
    background-color: pink;
    min-height: 200px ;
}