*{
    margin: 0;
    padding: 0;
}
.tong{
    background-color: aquamarine;
    width: 50%; 

}
.a{
    background-color: pink;
}
.b{
    background-color: antiquewhite;
}
.c{
    background-color: darksalmon;
}
.d{
    background-color: darkgreen;
}
.h{
}